{% load static %}
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'images/logo.png' %}" class="footer-logo" alt="logo">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta error nemo accusantium earum neque, illum atque, voluptas dolor iusto facere nulla, repudiandae asperiores harum.</p>
            </div>
            <div class="col-md-3">
                <h1 class="footer-feature">Features</h1>
                <p>Certified Services</p>
                <p>Free Consultation</p>
                <p>Flexible Time</p>
                <p>14 Days Free Trial</p>
            </div>
            <div class="col-md-3">
                <h1 class="contact">Quick Contacts</h1>
                <p><i class="fa-solid fa-phone"></i> +254 712378040</p>
                <p><i class="fa-solid fa-envelope"></i> daniel989@gmail.com</p>
                <p><i class="fa-solid fa-house"></i> Safari Park Estate.</p>
                <p class="city">Nairobi, Kenya</p>
            </div>
            <div class="col-md-3">
                <h1 class="contact">Follow Us On</h1>
                <p><i class="fa-brands fa-facebook"></i> Facebook</p>
                <p><i class="fa-brands fa-youtube"></i> YouTube</p>
                <p><i class="fa-brands fa-linkedin-in"></i> LinkedIn</p>
                <p><i class="fa-brands fa-x-twitter"></i> Twitter</p>
            </div>
        </div>
        <p class="copyright">Copyright @2025. <i class="fa-solid fa-heart"></i> Daniel Maina.</p>
    </div>
</section>
