{% extends 'base.html' %}

{% block title %}Home - Dantey's Fitness Center{% endblock %}

{% block content %}
<section id="welcome">
    <div class="container">
        <div class="welcome text-center wow slideInLeft delay-2s">
            <h1>Create Website with Animation</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolore delectus sunt nulla pariatur, quisquam repellendus repudiandae beatae?</p>
            <button type="submit" class="btn home-btn">Subscribe</button>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <!-- Content from "About Us" section -->
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <!-- Content from "Services" section -->
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row">
            <!-- Content from "Features" section -->
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container">
        <!-- Content from "Testimonials" section -->
    </div>
</section>

<section id="subscribe">
    <div class="container">
        <div class="subscribe text-center">
            <h3>Join For Free Trial Now</h3>
            <p>Subscribe Our Newsletter and Get <br>14 Days Free Trial.</p>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email id">
                <div class="input-group-append">
                    <button type="submit" class="Input-group-text btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
