{% extends 'base.html' %}

{% block title %}Book a Session{% endblock %}

{% block main_content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Book a Session with {{ coach.name }}</h1>

    <!-- Display booking details if available -->
    {% if booking %}
        <div class="alert alert-info mb-4">
            <h4 class="alert-heading">Existing Booking</h4>
            <p><strong>Service:</strong> {{ booking.service.name }}</p>
            <p><strong>Coach:</strong> {{ booking.coach.name }}</p>
            <p><strong>Session Date:</strong> {{ booking.session_date }}</p>
            <p><strong>Training Time:</strong> {{ booking.training_time }}</p> <!-- Added training time display -->

            <!-- Cancel Booking Button -->
            {% if booking.pk %}
            <a href="{% url 'coaches:booking_canceled' booking.pk %}" class="btn btn-danger mt-3">Cancel Booking</a>
        {% endif %}        </div>
    {% endif %}

    <!-- Booking Form -->
    <div class="card shadow-lg p-4 border rounded">
        <h4 class="text-center mb-3">Fill in the details below</h4>
        <form method="post">
            {% csrf_token %}
        
            <div class="form-group mb-3">
                <label for="{{ form.service.id_for_label }}">Service</label>
                {{ form.service }}
            </div>
        
            <div class="form-group mb-3">
                <label for="{{ form.session_date.id_for_label }}">Session Date</label>
                {{ form.session_date }}
            </div>
        
            <div class="form-group mb-3">
                <label for="{{ form.coach.id_for_label }}">Coach</label>
                {{ form.coach }}
            </div>
        
            <div class="form-group mb-3">
                <label for="id_training_time">Training Time</label>
                <select name="training_time" class="form-control" id="id_training_time">
                    <option value="08:00">08:00</option>
                    <option value="10:00">10:00</option>
                    <option value="13:30">13:30</option>
                    <option value="16:00">16:00</option>
                </select>
            </div>
            
        
            <button type="submit" class="btn btn-primary w-100">Submit Booking</button>
        </form>
        
    </div>
</div>
{% endblock %}
