{% extends 'base.html' %}

{% block main_content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Book a Session with {{ coach.name }}</h1>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <label for="service">Service</label>
            {{ form.service }}
        </div>

        <div class="form-group mb-3">
            <label for="session_date">Preferred Date</label>
            {{ form.session_date }}
        </div>

        <div class="form-group mb-3">
            <label for="training_time">Preferred Time</label>
            {{ form.training_time }}
        </div>

        <div class="form-group mb-3">
            <label for="coach">Choose Coach</label>
            {{ form.coach }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
